@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.center {
  display: flex;
  justify-content: center;
  align-items: center; }

.wrap {
  flex-wrap: wrap; }

body {
  background-color: #082346; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #000000; }

.btn-gold {
  background: transparent;
  color: #b29935;
  border: 0.2rem solid #b29935;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  text-decoration: none;
  margin-bottom: 2rem; }
  .btn-gold:hover {
    transform: scale(1.04); }

.header {
  background: #04172f;
  height: 10vh;
  display: flex;
  border-bottom: 0.3rem solid #b29935; }
  .header .logo {
    width: 10rem;
    padding: 0.5rem;
    margin-left: 1.5rem; }
    .header .logo img {
      height: 100%; }
  .header .title {
    color: #ffffff;
    padding: 1.5rem;
    font-size: 2rem; }

.footer {
  background: #04172f;
  border-top: 0.3rem solid #b29935;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer .footer-content {
    color: #ffffff;
    padding: 1rem;
    font-size: 1.4rem; }
    .footer .footer-content a {
      padding-left: 0.5rem; }

.landing {
  width: 100%; }
  .landing .cards {
    width: 95%;
    display: flex;
    margin: 1rem; }
    .landing .cards .card {
      background-color: #ffffff;
      font-size: 2rem;
      width: 100%;
      text-align: center;
      margin: 0.5rem; }
      .landing .cards .card .slider {
        max-width: 100%; }
      .landing .cards .card .content .buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem; }
        .landing .cards .card .content .buttons button {
          background-color: #082346;
          color: #ffffff;
          width: 40%;
          border-radius: 5rem;
          padding: 1rem 0;
          font-size: 1.6rem; }
          .landing .cards .card .content .buttons button:hover {
            transform: scale(1.04); }
      .landing .cards .card .content h3 {
        padding: 1rem;
        width: 100%; }
      .landing .cards .card .content p {
        width: 90%;
        padding: 2rem 3rem;
        padding-top: 0;
        width: 100%;
        font-size: 1.8rem; }
      .landing .cards .card .content p.limited,
      .landing .cards .card .content p.limited2 {
        padding: 0 3rem;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .landing .cards .card .content input {
        opacity: 0;
        position: absolute;
        pointer-events: none; }
      .landing .cards .card .content input:checked + p {
        -webkit-line-clamp: unset; }
        .landing .cards .card .content input:checked + p + label span {
          display: none; }
        .landing .cards .card .content input:checked + p + label:after {
          content: 'بازگشت'; }
      .landing .cards .card .content label {
        border: 0.2rem solid #b29935; }
  .landing .icons {
    padding: 5rem;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #b29935;
    font-size: 2rem; }
    .landing .icons .log {
      width: 100%;
      text-align: center; }
      .landing .icons .log img {
        width: 8rem; }
    .landing .icons span {
      padding: 2rem;
      border-bottom: 0.1rem solid #b29935; }
    .landing .icons .icon-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2rem; }
      .landing .icons .icon-wrapper span {
        text-align: center;
        width: 100%;
        color: #b29935;
        font-size: 1.5rem; }
    .landing .icons .icon {
      width: 5rem;
      height: 5rem;
      border: 0.2rem solid #b29935;
      background: transparent;
      border-radius: 0.8rem; }
      .landing .icons .icon i {
        color: #b29935;
        font-size: 4rem; }
  .landing .contact-footer {
    font-size: 1.4rem;
    margin-top: 2rem;
    width: 100%;
    padding: 3rem;
    color: #04172f;
    background-color: #b29935; }
    .landing .contact-footer div {
      width: 100%;
      text-align: right; }
      .landing .contact-footer div i {
        font-size: 2rem; }
      .landing .contact-footer div a {
        color: #04172f;
        font-size: 1.4rem; }

.image-wrapper {
  width: 100%;
  height: auto; }

@media (max-width: 50rem) {
  .cards {
    flex-wrap: wrap; }
    .cards .card:last-child {
      padding-bottom: 3rem; } }
