.header {
  background: $primary-dark;
  height: 10vh;
  display: flex;
  border-bottom: 0.3rem solid $gold;

  .logo {
    width: 10rem;
    padding: 0.5rem;
    margin-left: 1.5rem;
    img {
      height: 100%;
    }
  }
  .title {
    color: $light;
    padding: 1.5rem;
    font-size: 2rem;
  }
}
