.landing {
  width: 100%;
  // padding-top: 2rem;
  .cards {
    width: 95%;
    display: flex;
    margin: 1rem;
    .card {
      background-color: $light;
      font-size: 2rem;
      width: 100%;
      text-align: center;
      margin: 0.5rem;
      // margin-bottom: 1rem;
      .slider {
        max-width: 100%;
      }
      .content {
        .buttons {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0.5rem;
          button {
            background-color: $primary;
            color: $light;
            width: 40%;
            border-radius: 5rem;
            padding: 1rem 0;
            font-size: 1.6rem;
            &:hover {
              transform: scale(1.04);
            }
          }
        }
        h3 {
          padding: 1rem;
          width: 100%;
        }
        p {
          width: 90%;
          padding: 2rem 3rem;
          padding-top: 0;
          width: 100%;
          font-size: 1.8rem;
        }
        p.limited,
        p.limited2 {
          padding: 0 3rem;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        input {
          opacity: 0;
          position: absolute;
          pointer-events: none;
        }
        input:checked + p {
          -webkit-line-clamp: unset;
          & + label {
            span {
              display: none;
            }
            &:after {
              content: 'بازگشت';
            }
          }
        }
        label {
          border: 0.2rem solid $gold;
        }
      }
    }
  }
  .icons {
    padding: 5rem;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    color: $gold;
    font-size: 2rem;
    .log {
      width: 100%;
      text-align: center;
      img {
        width: 8rem;
      }
    }
    span {
      padding: 2rem;
      border-bottom: 0.1rem solid $gold;
    }
    .icon-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 2rem;
      span {
        text-align: center;
        width: 100%;
        color: $gold;
        font-size: 1.5rem;
      }
    }
    .icon {
      width: 5rem;
      height: 5rem;
      border: 0.2rem solid $gold;
      background: transparent;
      border-radius: 0.8rem;
      i {
        color: $gold;
        font-size: 4rem;
      }
    }
  }
  .contact-footer {
    font-size: 1.4rem;
    margin-top: 2rem;
    width: 100%;
    padding: 3rem;
    color: $primary-dark;
    background-color: $gold;
    div {
      width: 100%;
      text-align: right;
      i {
        // color: green;
        font-size: 2rem;
      }
      a {
        color: $primary-dark;
        font-size: 1.4rem;
      }
    }
  }
}

.image-wrapper {
  width: 100%;
  height: auto;
}
@media (max-width: 50rem) {
  .cards {
    flex-wrap: wrap;
    .card:last-child {
      padding-bottom: 3rem;
    }
  }
}
